* { font-family: "Source Sans Pro", sans-serif; text-rendering: optimizeLegibility; }

body { background-color: white; }

footer { background-color: #610000; color: white; padding: 26px 0 43px; font-size: 17px; box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25); filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000'); }
footer p { margin: 0; color: white; }

section.bc-1 { padding: 65px 0 75px; }
section.bc-1 .hero-bg { box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25); filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000'); background-color: #610000; min-height: 506.975px; }
@media (max-width: 1195px) { section.bc-1 .hero-bg { padding: 5%; } }
@media (max-width: 480px) { section.bc-1 .hero-bg { padding: 10%; } }
section.bc-1 .bc-placeholder { margin: 0 auto; display: block; }
section.bc-1 .bc-placeholder img { box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25); filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000'); margin: 0 auto; }
@media (min-width: 1200px) { section.bc-1 .bc-placeholder { position: absolute; margin: -18px 0 0 66px; width: 456px; height: 540px; } }
section.bc-1 p { font-family: "Open Sans", sans-serif; font-size: 16px; line-height: 26.4px; color: white; padding: 0; }
@media (min-width: 1200px) { section.bc-1 p { max-width: 457px; } }
section.bc-1 h1 { margin: 80px 0 0 0; font-family: Georgia, Times, "Times New Roman", serif; font-size: 30px; letter-spacing: -1.8px; color: white; margin-bottom: 18px; }
@media (max-width: 1195px) { section.bc-1 h1 { margin: 40px 0 0 0; } }
@media (max-width: 480px) { section.bc-1 h1 { margin: 40px 0 0 0; } }

.btn { background: #002a78; background: #002a78; border-style: Solid; border-color: white; border-color: white; border-width: 2px; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; font-size: 24px; font-family: "Open Sans", sans-serif; width: 100%; max-width: 272px; border-radius: 8px; margin: 30px auto 0; display: block; padding: 10px; }
@media (min-width: 1200px) { .btn { margin: 30px auto 0 80px; } }
.btn:hover, .btn:active, .btn:focus { background: #003cab; border-style: Solid; border-color: white; border-width: 2px; }

section.bc-2 { padding: 20px 0; }
section.bc-2 #slider_FD2 { width: auto !important; }

p { font-family: "Open Sans", sans-serif; font-size: 17px; color: #610000; }

h1 { font-family: Georgia, Times, "Times New Roman", serif; font-size: 30px; color: #610000; font-weight: bolder; margin: 0 0 20px 0; }

@media (max-width: 1195px) { .logo { margin: 0 auto 20px; } }

#nav_menu { display: none; }
@media (min-width: 1200px) { #nav_menu { margin-top: -40px; } }

.nav li a { font-family: "Open Sans", sans-serif; font-size: 16px; color: #610000; padding-top: 15px; padding-bottom: 15px; }

#mobile-toggle img { width: 32px; }

#mobileMenuWrapper { position: fixed; top: -1px; bottom: 0px; z-index: 100; overflow-y: auto; overflow-x: hidden; left: -120%; width: 225px; max-width: 100%; height: 400px; background-color: #5f0c0c; transition: all 300ms cubic-bezier(1, 0.01, 0, 1) 0s; }

#mobileMenuWrapper.open { left: 0px; bottom: 0px; }

#mobileMenuWrapper #mobile-menu { overflow: auto; padding: 0px 20px 10px; }
#mobileMenuWrapper #mobile-menu > li#triggerClose { color: white; float: right; display: inline; font-size: 22px; cursor: pointer; transform: rotate(45deg); }
#mobileMenuWrapper #mobile-menu a { width: 100%; color: white; display: inline-block; margin: 10px 0 0 0; font-size: 14px; }
#mobileMenuWrapper ul { margin: 0px; padding: 0px; list-style-type: none; }

#mobileMenuWrapper ul.mDropdown { margin: 0 15px; display: none; }

#mobile-toggle { border: none; background: transparent; box-shadow: none; cursor: pointer; }

#mobile-menu-col { top: 10px; right: 20px; float: right; position: relative; }

#mobile-logo { width: 40%; float: left; margin-top: 27px; margin-bottom: 20px; }
#mobile-logo a { margin: 0 !important; }
#mobile-logo svg#logo { width: 250px; max-width: 250px; }

@media (min-width: 1200px) { #login { float: right; margin: 18px 0 0 0; } }
@media (max-width: 1195px) { #login { display: block; margin: 0 auto; max-width: 407px; } }
#login div { max-width: 165px; display: inline-block; padding: 5px; }
#login input[type="submit"] { background-color: #610000; color: white; border-radius: 5px; font-size: 14px; padding: 10px 17px; border: none; }
#login input[type="text"], #login input[type="password"] { width: 100%; background: white; background: white; border-style: Solid; border-color: #610000; border-color: #610000; border-width: 1px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; padding: 9px; font-size: 14px; color: #610000; font-family: "Open Sans", sans-serif; }
#login a { position: absolute; margin: 47px 0 0 0px; font-size: 10px; }
