// Mixins
=breakpoint($point)
    @if $point == md
        @media (min-width: 768px) 
            @content
    @if $point == sm
        @media (max-width: 767px) 
            @content
    @if $point == xs
        @media (max-width: 480px)
            @content    
=shadow-this

*
    font-family: 'Source Sans Pro', sans-serif

body 
    background-color: #fff
    
footer
    background-color: #610000
    color: #fff
    padding: 26px 0 43px
    font-size: 17px
    p
        margin: 0 

section.bc-1   
    padding: 58px 0 75px
    .hero-bg
        background-color: #610000
        min-height: 506.975px
    .bc-placeholder
        +shadow-this
        margin: 0 auto
        display: block
        width: 456px
        height: 540px
        +breakpoint(md)
            position: absolute
            margin: -12px 0 0 66px
        
    p
        font-family: 'Open Sans', sans-serif
        font-size : 17px
        line-height : 26.4px
        color : #FFFFFF
        +breakpoint(md)
            max-width: 457px
        padding: 18px 0
    h1
        margin: 80px 0 0 0
        font-family: Georgia, Times, 'Times New Roman', serif
        font-size : 30px
        letter-spacing : -1.8px
        color : #FFFFFF